<template>
  <b-row class="mb-3">
    <b-col md="12" class="mb-3">
      <p v-text="$t('title.uploadImages')"></p>
    </b-col>
    <b-col md="6">
      <form enctype="multipart/form-data">
        <div class="dropbox border-radius">
          <input type="file" @change="uploadFile($event)" accept="image/*" class="input-file" />
          <p v-if="isInitial" v-html="$t('alert.dragYourFileHereToBeginOrClickToBrowse')"></p>
          <p v-if="isSaving" v-html="$t('alert.uploadingFiles')"></p>
        </div>
      </form>
    </b-col>
    <b-col md="6">
      <div v-if="isSuccess || !!showFile" class="bg-success-o-50 p-5 border-radius">
        <h2 v-text="$t('alert.uploadedFileSuccessfully')" v-if="isSuccess" class="text-success text-center"></h2>
            <img :src="showFile" width="200" height="200" class="img-responsive img-thumbnail" style="display: table;margin:0 auto" :alt="showFile">
      </div>
      <div v-if="isFailed" class="bg-danger-o-50 p-5 border-radius">
        <h4 class="text-center text-danger">
          <span class="svg-icon svg-icon-primary svg-icon-2x">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"/>
                    <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                    <rect fill="#000000" x="11" y="7" width="2" height="8" rx="1"/>
                    <rect fill="#000000" x="11" y="16" width="2" height="2" rx="1"/>
                </g>
            </svg>
          </span>
        {{ $t('alert.uploadedFailed')}}
        </h4>
        <p class="text-center text-danger" v-text="uploadError"></p>
      </div>
    </b-col>
  </b-row>
</template>

<script>
const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

export default {
  name: "upload",
  props: {
    setImage: ''
  },
  data() {
    return {
      file: '',
      showFile: '',
      uploadError: null,
      currentStatus: null,
    }
  }, computed: {
    isInitial() {
      return this.currentStatus !== STATUS_SAVING;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    }
  },
  methods: {
    uploadFile(files) {
      // handle file changes
      const formData = new FormData();
      formData.append('file',files.target.files[0])
      // save it
      this.currentStatus = STATUS_SAVING;
      const url = '/api/user/upload';
      this.$axios.post(url, formData)
        // get data
        .then(image => {
          this.file=image.data.url;
          this.showFile=process.env.UrlUpload+image.data.url;
          this.currentStatus = STATUS_SUCCESS;
          this.getImage()
        })
        .catch(error => {
          if (error.response.data.message.length>0){
            this.uploadError = this.$t('alert.'+error.response.data.message);
          }else{
            this.uploadError = '404 - '+this.$t('alert.NotFound')//this.$t('alert.'+error.response.data.message);
          }
          this.currentStatus = STATUS_FAILED;
        })
    },
    getImage(){
      this.$emit('getImage',this.file);
    }
  },
  mounted() {
    this.currentStatus = STATUS_INITIAL;
    this.file = '';
    this.showFile = '';
    this.uploadError = null;

    if(!!this.setImage){
      this.showFile=process.env.UrlUpload+this.setImage
    }
  },
}
</script>

<style scoped>
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  min-height: 200px; /* minimum height */
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}
</style>
